body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

div {
    display: block;
}

.header{
    margin-left: 1.75%;
    margin-bottom: 1%;
    width: auto;
}


.header img {
    width: 318px;
}

/*.header a {*/
/*    float: right;*/
/*    text-align: right;*/
/*}*/

.archive {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ffffff;
}

.article-info {
    display: flex;
    justify-content: space-between;
}


.article-header {
    display: flex;
    justify-content: space-between;
}

.one-post.folded .article-author {
    display: none;
}

.one-post.folded .article-created-date {
    display: none;
}

.one-post.folded .article-text {
    display: none;
}

.one-post {
    position: relative;
    padding-bottom: 0.2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 1%
}

.one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: -1;
    opacity: 0;
}