<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/article.css">
</head>
<body class="article">

<div class="header">
    <img src="/static/img/logo.png"/>
    <a href="/">Все статьи</a></div>
<div class="article-post">
    <div class="post-title"><h1>{{post.title}}</h1></div>
    <div class="article-info">
        <div class="article-author"><h3>{{post.author}}</h3></div>
        <div class="article-created-date"><h3>{{post.created_date}}</h3></div>
    </div>
    <p class="article-text">{{post.text}}</p>
    </div>
</body>
</html>